article.container {
  width: 700px;
  section {
    padding: 10px;
    color: black;
    h1 {
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      color: indianred;
      font-size: 22px;
      margin: 0px;
    }
    p {
      font-family: 'Libre Baskerville', serif;
      color: gray;
      font-size: 34px;
      span {
        color: white;
      }
    }
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  article.about-container {
    width: 100%;
    section {
    h1 {
       font-size: 36px;
    }

    p {
      font-size: 48px;
    }
    }
  }
}